{% extends 'base.html' %}

{% block content %}
    <div class="col-md-6 col-md-offset-3" style="margin-top: 30px;">
        <div class="center-block">
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            <form class="form-inline" method="post" action="{% url 'core:login' %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <div class="form-group">
                    <label for="exampleInputName2">{{ form.username.label_tag }}</label>
                    <input type="text" class="form-control" id="id_username" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="exampleInputName2">{{ form.password.label_tag }}</label>
                    <input type="password" class="form-control" id="id_password" name="password" placeholder="Password">
                </div>
                <button class="btn btn-success" type="submit">Login</button>
            </form>
        </div>
    </div>
{% endblock %}