{% extends 'base.html' %}

{% block content %}
    <div class="" style="margin-top: 30px;">
        <h2>Bug Listing</h2>
        <a class="btn btn-success" href="{% url 'core:BugCreateView' %}">+ Add New Bug</a>
        <table class="table table-bordered">
            <caption>Bugs In The System</caption>
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Description</td>
                    <td>Owner</td>
                    <td>Assigned</td>
                    <td>State</td>
                    <td>Severity</td>
                </tr>
            </thead>
            <tbody>
                {% for bug in bugs %}
                    <tr>
                        <td><a href="{% url 'core:BugUpdateView' bug.id %}">{{ bug.title }}</a></td>
                        <td>{{ bug.description|truncatechars:32 }}</td>
                        <td>{{ bug.owner.username }}</td>
                        <td>{{ bug.assigned.username }}</td>
                        <td>{{ bug.state }}</td>
                        <td>{{ bug.severity }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{% url 'core:BugListView' %}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{% url 'core:BugListView' %}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    </div>
{% endblock %}