{% extends 'base.html' %}

{% block content %}
    <div class="col-md-6 col-md-offset-3" style="margin-top: 30px;">
        <h2>Remove User</h2>
        <form class="form-horizontal" action="" method="post">
            {% csrf_token %}
            <h3>Are you sure you want to delete the user: "{{ object }}"?</h3>
            <input class="btn btn-danger" type="submit" value="Confirm" />
            <a class="btn btn-default" href="{% url 'core:UserListView' %}">Cancel</a>
        </form>
    </div>
{% endblock %}