{% extends 'base.html' %}

{% block content %}
    <div class="center" style="text-align: center; margin-top: 30px;">
        <a class="btn btn-lg btn-default" href="{% url 'core:login' %}">Login</a>
    </div>
{% endblock %}