{% extends 'base.html' %}

{% block content %}
    <div class="col-md-6 col-md-offset-3" style="margin-top: 30px;">
        <h2>Submit A Bug</h2>
        <form class="form-horizontal" action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="" class="col-sm-4 control-label">Owner</label>
                <div class="col-sm-8">
                    {{ form.owner }}
                    {% if form.owner.errors %}
                        <ul class="errorlist">
                            {% for error in form.owner.errors %}
                                <li><p class="bg-danger">{{ error|escape }}</p></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-4 control-label">Assigned</label>
                <div class="col-sm-8">
                    {{ form.assigned }}
                    {% if form.assigned.errors %}
                        <ul class="errorlist">
                            {% for error in form.assigned.errors %}
                                <li><p class="bg-danger">{{ error|escape }}</p></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-4 control-label">Title</label>
                <div class="col-sm-8">
                    {{ form.title }}
                    {% if form.title.errors %}
                        <ul class="errorlist">
                            {% for error in form.title.errors %}
                                <li><p class="bg-danger">{{ error|escape }}</p></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-4 control-label">Description</label>
                <div class="col-sm-8">
                    {{ form.description }}
                    {% if form.description.errors %}
                        <ul class="errorlist">
                            {% for error in form.description.errors %}
                                <li><p class="bg-danger">{{ error|escape }}</p></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-4 control-label">State</label>
                <div class="col-sm-8">
                    {{ form.state }}
                    {% if form.state.errors %}
                        <ul class="errorlist">
                            {% for error in form.state.errors %}
                                <li><p class="bg-danger">{{ error|escape }}</p></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-4 control-label">Severity</label>
                <div class="col-sm-8">
                    {{ form.severity }}
                    {% if form.severity.errors %}
                        <ul class="errorlist">
                            {% for error in form.severity.errors %}
                                <li><p class="bg-danger">{{ error|escape }}</p></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <input class="btn btn-lg btn-success" type="submit" value="Submit Bug" />
            <a class="btn btn-lg btn-danger" href="{% url 'core:BugListView' %}">Back To Bug List</a>
        </form>
    </div>
{% endblock %}