{% extends 'base.html' %}

{% block content %}
    <div class="col-md-6 col-md-offset-3" style="margin-top: 30px;">
        <h2>Create A User</h2>
        <form class="form-horizontal" action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="" class="col-sm-4 control-label">Username</label>
                <div class="col-sm-8">
                    {{ form.username }}
                    {% if form.username.errors %}
                        <ul class="errorlist">
                            {% for error in form.username.errors %}
                                <li><p class="bg-danger">{{ error|escape }}</p></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-4 control-label">Password</label>
                <div class="col-sm-8">
                    <input type="password" name="password" id="id_password" />
                    {% if form.password.errors %}
                        <ul class="errorlist">
                            {% for error in form.password.errors %}
                                <li><p class="bg-danger">{{ error|escape }}</p></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-4 control-label">Email</label>
                <div class="col-sm-8">
                    {{ form.email }}
                    {% if form.email.errors %}
                        <ul class="errorlist">
                            {% for error in form.email.errors %}
                                <li><p class="bg-danger">{{ error|escape }}</p></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-4 control-label">Role</label>
                <div class="col-sm-8">
                    {{ form.user_role }}
                    {% if form.user_role.errors %}
                        <ul class="errorlist">
                            {% for error in form.user_role.errors %}
                                <li><p class="bg-danger">{{ error|escape }}</p></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <input class="btn btn-lg btn-success" type="submit" value="Create New User" />
            <a class="btn btn-lg btn-danger" href="{% url 'core:UserListView' %}">Back To User List</a>
        </form>
    </div>
{% endblock %}