{% extends 'base.html' %}

{% block content %}
    <div class="" style="margin-top: 30px;">
        <h2>User Listing</h2>
        <a class="btn btn-success" href="{% url 'core:UserCreateView' %}">+ Add New user</a>
        <table class="table table-bordered">
            <caption>Users In The System</caption>
            <thead>
                <tr>
                    <td>Username</td>
                    <td>Email</td>
                    <td>Role</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.user_role }}</td>
                        <td><a class="btn btn-sm btn-danger" href="{% url 'core:UserDeleteView' user.id %}">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{% url 'core:UserListView' %}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{% url 'core:UserListView' %}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    </div>
{% endblock %}