<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Evaluation</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3" style="text-align: center;">
                        {% block header %}<h1>Evaluation Project</h1>{% endblock %}
                    </div>
                </div>
                {% if request.user.is_authenticated %}
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="col-md-4">
                                <a class="btn btn-default btn-block" href="{% url 'core:BugListView' %}">Bug Listing</a>
                            </div>
                            <div class="col-md-4">
                                <a class="btn btn-default btn-block" {% if request.user.user_role != 'admin' %} href="#" disabled{% else %} href="{% url 'core:UserListView' %}" {% endif %}>Manage Users</a>
                            </div>
                            <div class="col-md-4">
                                <a class="btn btn-default btn-block" href="{% url 'core:logout' %}">Logout</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-12">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>